body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
  
h3,h4,h5 {
  font-weight: 300 !important;
}
  
.calendar-wrapper {
  height: auto;
  max-width: 730px;
  margin: 0 auto;
}
  
.calendar-header {
  background-color: rgba(18, 15, 25, 0.25);
  height: 100%;
  padding: 20px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  position: relative;
}
  
.header-title {
  padding-left: 15%;
}
  
.header-background {
  height: 200px;
  background-position: center right;
  background-size: cover;
}
  
.calendar-content {
  background-color: #fff;
  padding: 20px;
  padding-left: 15%;
  padding-right: 15%;
  overflow: hidden;
}
  
/* .event-mark {
  width: 5px;
  height: 5px;
  background-color: #DBDD0F;
  border-radius: 100px;
  position: absolute;
  left: 46%;
  top: 70%;
} */
  
.sidebar-title {
  padding: 50px 6% 50px 12%;
  background-color: #DBDD0F;

}
  
#table-body .row .col {
  padding: 0.75rem;
}
  
#table-body .col {
  border: 1px solid transparent;
}
  
#table-body .row {
  margin-bottom: 0;
}
  
#table-body .col {
  padding-top: 1.3rem !important;
  padding-bottom: 1.3rem !important;
}
  
#calendar-table {
  text-align: center;
}
  
.prev-button {
  position: absolute;
  cursor: pointer;
  left: 0%;
  top: 35%;
  color: rgb(0, 0, 0) !important;
}
  
.prev-button i {
  font-size: 4em;
}
  
.next-button {
  position: absolute;
  cursor: pointer;
  right: 0%;
  top: 35%;
  color: rgb(255, 255, 255) !important;
}
  
.next-button i {
  font-size: 4em;
}

  
@media (max-width: 992px) {
    .content-wrapper {
     margin-left: 0;
  }
    .mobile-header {
    display: block;
  }
    .calendar-wrapper {
    margin-top: 80px;
  }
    .sidebar-wrapper {
    background-color: #eeeeee !important;
  }
    .sidebar-title {
    background-color: #5a649c !important;
  }
    .empty-message {
    color: black;
  }
}
  
@media (max-width: 767px) {
    .content-wrapper .container {
      width: auto;
    }
    .calendar-content {
      padding-left: 5%;
      padding-right: 5%;
    }
    body .row {
      margin-bottom: 0;
    }
}
  
  @media (max-width: 450px) {
    .content-wrapper {
      padding-left: 0;
      padding-right: 0;
    }
    .content-wrapper .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
